.wrapper {
    position: relative;
    max-width: 400px;
    padding: 20px 0;

}

.input {
    width: 100%;
    color: var(--color-light-primary);
    padding: 10px 0;
    border: none;
    outline: none;
    font-size: 18px;
    background: transparent;
    border-bottom: 1px solid var(--color-light-primary);
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    pointer-events: none;
    color: var(--color-light-primary);
    transform: translateY(30px);
    transition: all 400ms ease-in-out;
}

.input:focus + .label {
    transform: translateY(0);
}