.wrapper {
  background: var(--color-dark-primary);
  max-width: 320px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 640px;
  position: relative;
  z-index: 1;
  /*padding: 16px;*/
}

.headerWrapper {
  width: 100%;
  display: flex;
  padding: 9px 16px 16px 16px;
  flex-direction: row;
  justify-content: space-between;
}

.closeWrapper {
  cursor: pointer;
}

.logoWrapper {
  cursor: pointer;
}

.mainBody {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.link {
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
  color: var(--color-light-primary);
}

.typography {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.button {
  width: 248px !important;
  padding: 16px !important;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.telegramWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  margin-left: 16px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--color-light-primary);
  margin-top: 61px;
}

.logoName {
  font-size: 79px !important;
  color: var(--color-light-primary) !important;
}