.typography {
    --color: inherit;
    margin: 0;
    font-size: 18px;
    font-family: 'NeoGram', sans-serif;
    line-height: 23px;
    color: var(--color);
    font-weight: 400;
}

.h1 {
    font-weight: 900;
    font-size: 125px;
    line-height: 15px;
}

.h2 {
    font-weight: 900;
    font-size: 100px;
    line-height: 15px;
}

.h3 {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}

.h4 {
    font-weight: 800;
    font-size: 32px;
}

.h5 {
    font-weight: 400;
    font-size: 32px;
}