.typography {
    --color: inherit;
    margin: 0;
    font-size: 18px;
    font-family: 'NeoGram', sans-serif;
    line-height: 23px;
    color: var(--color-light-primary);
    font-weight: 400;
}

.h1 {
    font-weight: 900;
    font-size: 125px;
    line-height: 15px;
    color: var(--color-light-primary);
}

.h2 {
    font-weight: 900;
    font-size: 100px;
    line-height: 15px;
    color: var(--color-light-primary);
}

.h3 {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: var(--color-light-primary);
}

.h4 {
    font-weight: 800;
    font-size: 32px;
    color: var(--color-light-primary);
}

.h5 {
    font-weight: 400;
    font-size: 32px;
    color: var(--color-light-primary);
}

@media screen and (max-width: 600px) {
    .typography {
        font-size: 14px;
        line-height: 20px;
    }

    .h5 {
        font-weight: 900;
        font-size: 24px;
    }
}