.cardWrapper {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}

.title {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF !important;
    margin-top: 21px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 12px;
    width: 230px;
}

@media screen and (max-width: 600px){
    .cardWrapper {
        min-width: 268px;
    }
    .text {
        font-size: 14px;
        width: 50%;
        line-height: 18px;
    }
}

@media screen and (max-width: 1000px){
    .text {
        width: 90%;
    }
}